body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

#center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

/* Form di login */

h2 {
    color: #333;
    margin-bottom: 20px;
}

.login-container {
    text-align: center;
    width: 300px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}


button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

.links {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.links a {
    color: #007BFF;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

p{
    font-size: small;
}
